@if(url =="/"||url =="/account/login") {
<footer>
    <div class="footer-container">
       <p> © 2015 - 2024 Upwork® Global Inc. • Privacy Policy </p>
    </div>
</footer>
}@else if (url =="/account/role"||url =="/account/register/Client"||url=="/account/register/Freelancer") {
   <footer> <div>
    
   </div> </footer>
}@else {
<footer class="footer">
          
            
    <div class="first-list">
       <ul>
           <li> <a class="a" href="">About Us</a></li> 
           <li><a class="a" href="">Feedback </a></li> 
          <li><a class="a" href="">Community</a></li> 
       </ul>
   </div> 
    <div class="second-list">
       <ul><li> <a class="a" href="">Trust, Safety & Security
       </a></li> 
           <li> <a class="a" href="">Help & Support </a></li> 
          <li> <a class="a" href="">Upwork Foundation </a></li> 
           </ul>    
   </div> 
    <div class="third-list"> 
       <ul>
           <li><a class="a" href="">Terms of Service</a> </li> 
           <li> <a class="a" href="">Privacy Policy</a></li> 
          <li><a class="a" href="">CA Notice at Collection</a></li> 
          <li><a class="a" href="">Cookie Settings</a></li> 
       </ul>  
    </div> 
    <div class="forth-list"> 
       <ul>
           <li> <a class="a" href="">Accessibility </a></li> 
           <li> <a class="a" href="">Desktop App </a></li> 
          <li> <a class="a" href="">Cookie Policy </a> </li> 
          <li><a class="a" href="#">Enterprise Solutions</a></li>
       </ul>  
    </div> 

<div class="row containerb">
    <div clas="starter" >
     <span class="flow">Follow us </span>
     <button class="button55 "><a class="a" href="#" class="fa fa-facebook"></a></button>
     <button class="button55"><a class="a" href="#" class="fa fa-linkedin"></a></button>
     <button class="button55"><a class="a" href="#" class="fa fa-twitter"></a></button>
      <button class="button55"><a class="a" href="#" class="fa fa-youtube"></a></button>
       <button class="button55"><a class="a" href="#" class="fa fa-instagram"></a></button>
     </div>
     <div  class="ender">
        <span class="Mobile">Mobile app  </span>
        <button class="button55">  
        </button>
        <button class="button55"></button>
        </div>
     </div>
    <hr class="horizontal">
    <div class="glob">© 2015 - 2024 Upwork® Global Inc.</div>
</footer>
}