<div class="aside1 bg-white  ">

    <div id="ahmed" > <img class="user-img" src="images/user.png"  alt=""> <span class="user-name " (click)="profileRoute()">{{userName}}</span> 
    <p class="title"> job-title</p></div>




        <div class="accordion accordion-flush" id="accordionFlushExample">
          <div class="accordion-item">
            <h2 class="accordion-header   " id="flush-headingOne  ">
              <button class="accordion-button collapsed "  id="ahmed" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                  Promote with ads
              </button>
            </h2>
            <div id="flush-collapseOne" class="accordion-collapse collapse " aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
              <div class="accordion-body">
               <ul class="first-list">
                <li class="fli ">Availability badge
                </li>
                <li> Boost your profile</li>
               </ul></div>
            </div>
          </div>
         
        </div>







        <br>
        <div class="accordion accordion-flush" id="accordionFlushExample">
          <div class="accordion-item" id="bbbb">
            <h2 class="accordion-header" id="flush-headingOne">
              <button class="accordion-button collapsed " id="ahmed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne1" aria-expanded="false" aria-controls="flush-collapseOne">
                  Connects: 0
              </button>
            </h2>
            <div id="flush-collapseOne1" class="accordion-collapse collapse "   aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
              <div class="accordion-body"  >
                <ul class="firsst-list">
                  <li > <a href="" class="ffff">view</a> 

                  </li>
                  <li><a href=""  class="ffff">buy</a></li>

                  <li> <a href="" class="ffff">details</a> 

                  </li>
                  <li><a href=""  class="ffff">connects</a></li>
                </ul>

              </div>
            </div>
          </div>
         
        </div>
        <br>
      

      <div class="accordion accordion-flush" id="accordionFlushExample">
          <div class="accordion-item" >
            <h2 class="accordion-header" id="flush-headingOne">
              <button class="accordion-button collapsed"  id="ahmed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne2" aria-expanded="false" aria-controls="flush-collapseOne">
                  Preferences
              </button>
            </h2>
            <div id="flush-collapseOne2" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
              <div class="accordion-body">
                <ul class="perfrances-li">
                  <li class="ul-child-1">Hours per week</li>
                  <li class="ul-child-1">More than 30 hrs/week</li>
                  <li class="ul-child-1">Profile Visibility</li>
                  <li class="ul-child-1">Job Preference</li>
                  <li class="ul-child-1">My Categories</li>
                  <li class="ul-child-1"> <a href="" class="ffff">Web Development</a></li>
                  
                </ul>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingTwo">
              <button class="accordion-button collapsed"  id="ahmed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                  Proposals
              </button>
            </h2>
            <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
              <div class="accordion-body"><a href="" class="ffff">My Proposals</a>
              <p>Looking for work? Browse jobs and get started on a proposal.</p></div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingThree">
              <button class="accordion-button collapsed"  id="ahmed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                Project Catalog
              </button>
            </h2>
            <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
              <div class="accordion-body">
                 <li class="ashraf"><a href="" class="aaaa">My Project Dashboard</a></li>

              <li class="ashraf"><a href="" class="aaaa">Create a Catalog project </a> <span>for clients to purchase instantly</span></li></div>
            </div>
          </div>
        </div>

        <div class="kjoo">
          <ul class="lastt-li">
            
        
         <li  class="lastt-li-child"><a class="lastt-li-child" href="#"> Upwork Academy  </a></li> 
         <li class="lastt-li-child"><a class="lastt-li-child" href="">Direct Contracts </a></li> 
         <li  class="lastt-li-child"><a  class="lastt-li-child" href="">Get Paid </a></li> 
         <li class="lastt-li-child"> <a class="lastt-li-child" href="">Community & Forums </a></li>
          <li class="lastt-li-child"><a class="lastt-li-child" href="">Help Center </a></li>
        </ul>


        </div>
      
  </div>
  
 