*{margin: 0 auto;}

a{
    text-decoration:none;
    color: black;
}

.goo{
    display: flex;
    width: 70%;
    flex-direction: row;
    justify-content: center;
    gap: 2%;
    margin-top: 20px;
}
hr{
    height: 1px;
    width: 100%;
}
.or{
    font-size: 14px;
    font-weight: lighter;
}


.form1{
    text-align: center;
    padding-top: 40px;
    box-sizing: 10px;
    border: 1px groove lightgray ;
    border-radius: 15px;
    width: 37%;
    height: auto;
    margin: 0 auto;
    margin-bottom: 50px;
    margin-top: 30px;
}

.form-control{
    width: 70%;
    margin: auto;
    padding: 7px 10%;
    border-radius: 10px;
    font-size: 14px;
    background-image: url('../images/user.png'); 
    background-size: 20px;
    background-position-x: 10px;
    background-position-y: 50%;
    background-repeat: no-repeat;
}
#pass{
    margin-top: 5px;
}
.btn-login{
    width: 70%;
    height: fit-content;
    box-sizing: 5px;
    border-radius: 10px;
    padding-top: 4px;
    padding-bottom: 5px;
    font-weight:normal ; 
    font-size: 14px;
    margin-top: 20px;
    }
.btn-primary1{
    font-weight:bold ;
    border : none;
    background-color: green;
    color: white;
    
}
.btn-primary1:hover{
    background-color: rgb(2, 155, 2);
}
.btn-primary2{
    border : none;
    background-color: rgb(52, 116, 234);
    color: white;
    background-image: url("../images/google.png");
    background-size: 30px;
    background-position-x: 3px;
    background-position-y: 50%;
    background-repeat: no-repeat;
    }
.btn-primary2:hover{
    background-color: rgb(79, 139, 252);
    
}
.btn-primary3{
    border: 1px solid black;  
    background-color:white;
    color: rgb(0, 0, 0);  
    background-image: url("../images/apple.png");
    background-size: 30px;
    background-position-x: 25%;
    background-position-y: 50%;
    background-repeat: no-repeat;     
}
.btn-primary3:hover{
    background-color: whitesmoke;
}

.btn-primary4{
    border:2px solid green;
    background-color: white;
    color: green;
    width: 40%;
}
.btn-primary4:hover{
    border:2px solid green;
    background-color: whitesmoke;
}
.goo1{
    margin-top: 100px;
    display: flex;
    width: 70%;
    flex-direction: row;
    justify-content: center;
    gap: 2%;
}
.hr2{
    height: 1px;
    width: 25%;
}
.or2{
    width: 75%;
    font-size: 14px;
    font-weight: lighter;
}



.log{
    margin-bottom: 20px;
    font-size: 28px;
    font-weight: 500;
    font-weight: bolder;
}
@media only screen and (max-width: 600px){
    .form1{
        width: 100%;
    }
}