<app-header></app-header>
<div class="loginContainer">
@if (status == 401) {
  <div class="alert alert-danger">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    <strong>Wrong UserName Or Password </strong>
  </div>
} 
<div class="form1"> 
        <div class="container-sm">
          <p class="log">Log in to Upwork</p> 
          <form >
          <input type="email" id ="name" class="form-control" name="email"
            placeholder="Username or Email" aria-describedby="emailHelp" 
            minlength="4" appForbiddenName="bob" required 
            [(ngModel)]="user.Email" #email="ngModel">
            <div *ngIf="email.invalid && (email.dirty || email.touched)" id="error">
              <div *ngIf="email.hasError('required')" > Name is required.</div> 
            </div>

          <input type="password" id="pass" class="form-control" name="Password"
          placeholder="Password "  aria-describedby="emailHelp" 
          required minlength="4" appForbiddenName="bob"
          [(ngModel)]="user.Password" #password ="ngModel">
          <div *ngIf="password.invalid && (password.dirty || password.touched)"  id="error">
            <div *ngIf="password.hasError('required')" > password is required.</div>
            <div *ngIf="password.hasError('minlength')"> Name must be at least 4 characters long.</div> 
          </div>
          <div class="invalid-feedback">Please Enter password</div>  
        </form>
        <div><button type="submit" class="btn-login btn-primary1" (click)="login()">Continue</button></div> 
        <div class="goo"> <hr>  <span class="or">  or </span> <hr></div>
        <div><button type="submit" class="btn-login btn-primary2"> Continue with google</button></div>
        <div><button type="submit" class="btn-login btn-primary3"> Continue with apple </button>
        </div>
        <div class="goo1"> <hr class="hr2">  <span class="or2">  Don't have an Upwork account? </span> <hr class="hr2"></div>
        
       <div><button type="submit" class="btn btn-login btn-primary4" (click)="navigateRegister()">Sign Up </button>
        <br>
        <br>
       </div> 
</div>
</div>
</div>
<app-footer></app-footer>