<app-header></app-header>
<p class="join">Join as a client or freelancer</p>
<div class="parent">
    <div class="child">
        <div class="childRadio">
            
            <input type="radio" id="join-user" value="Client" name="role" [(ngModel)]="selectedUserType"> 
        </div>
        <label for=""> <p class="childp">  I’m a client, hiring for a project</p> </label>
        <label for="join-user"> </label>
    </div>

    <div  class="child">
        <div class="childRadio">
            
            <input type="radio" id="join-user" value="Freelancer" name="role" [(ngModel)]="selectedUserType">
        </div>
        <label for="">  <p class="childp"> I’m a freelancer, looking for work</p></label> 
        <label for="join"> </label>
    </div>
</div>
@if (selectedUserType === 'Freelancer') {
    <div class="btn-div"> 
        <button class="selectedbtn" [routerLink]="['/account/register',selectedUserType]">Apply as a Freelancer </button>
    </div>
}@else if (selectedUserType === 'Client') {
    <div class="btn-div">
         <button class="selectedbtn" [routerLink]="['/account/register',selectedUserType]" >Join as a Client </button>
        </div>
}@else {
    <div class="btn-div"> <button class="btn" >Create Account </button></div>
}


<div class="QUESTION">
    <p class="quep">Already have an account ? <a class="log-in" href="#"> Log in</a> </p>
</div>