.div_container{
    width: 90%;
    background-color: whitesmoke;
    padding: 10px;
    border-radius: 15px;
    margin: auto;
}
.view{
    border-radius: 10px;
    background-color: white;
    border: 2px solid green;
    color: green;
    padding: 20px;
    padding-top: 3px;
    padding-bottom: 3px;
    margin: 10px 5px;
    width: 25%;
}