<header>
<div class="row up-nav">
<div class="logo  col-1">
    <a class="a-logo" [routerLink]="['/home']" > upwork </a>
  </div>
         <div class="dropdown col-1" style="margin-left: 5px ;">
    <button class=" btn-joo btn btn-white  dropdown-toggle  navText" type="button" data-bs-toggle="dropdown" aria-expanded="false">
      Find work 
    </button>
    <ul class="dropdown-menu">
      <li><a class="dropdown-item " href="#">Find work </a></li>
      <li><a class="dropdown-item" href="#">Saved jobes</a></li>
      <li><a class="dropdown-item" href="#">Proposales and offers</a></li>
      <hr class="line-hr">
      <li><a class="dropdown-item" href="#">Reach more clients</a></li>
      <li><a class="dropdown-item" href="#">Your services</a></li>
      <li><a class="dropdown-item" href="#">Prompto with ads </a></li>
      <li><a class="dropdown-item" href="#">Direct contracts</a></li>
    </ul>
  </div>




  <div class="dropdown   col-1" style="margin-right: 15px ;">
    <button class=" btn-joo  btn btn-white dropdown-toggle navText" type="button" data-bs-toggle="dropdown" aria-expanded="false">
     Deliver work
    </button>
    <ul class="dropdown-menu">
      <li><a class="dropdown-item" href="#">Your activity contractors</a></li>
      <li><a class="dropdown-item" href="#">Contract history</a></li>
      <li><a class="dropdown-item" href="#">Hourly work diary</a></li>
    </ul>
  </div>




  <div class="dropdown col-1" style="margin-right: 10px ;">
    <button class="  btn-joo  btn btn-white dropdown-toggle navText " type="button" data-bs-toggle="dropdown" aria-expanded="false">
     Manage finances
    </button>
    <ul class="dropdown-menu">
      <li><a class="dropdown-item" [routerLink]="['/home/finance/overview']">Financi over view </a></li>
      <li><a class="dropdown-item" [routerLink]="['/home/finance/reports']">Your reports</a></li>
      <li><a class="dropdown-item" [routerLink]="['/home']">Billings and earnings</a></li>
      <li><a class="dropdown-item" href="#">Billings and earnings</a></li>

      <li><a class="dropdown-item" href="#">Transaction and invoices</a></li>

      <li><a class="dropdown-item" href="#">Certificate of earnings</a></li>
      <li><a class="dropdown-item" href="#"><hr class="line-hr"></a></li>

      <li><a class="dropdown-item" href="#">PAYMENTS</a></li>
      <li><a class="dropdown-item" href="#">Withdraw earnings</a></li>
      <li><a class="dropdown-item" href="#"><hr class="line-hr"></a></li>
      <li><a class="dropdown-item" href="#">Taxes</a></li>
      <li><a class="dropdown-item" href="#">Tax forms</a></li>
      <li><a class="dropdown-item" href="#">Tax information</a></li>

    </ul>
  </div>



  <div class="dropdown col-1 " style=" margin-left: 30px;">
    <button class="  btn-joo  btn btn-white  navText " type="button" data-bs-toggle="dropdown" aria-expanded="false" (click)="massege()">
    Mesaages
    </button>

  </div>


<div class="col-1">

</div>
<!-- ************************************** -->
<div class="col-3  row"  style="background-color: rgb(255, 255, 255);">

<div class=" col-3 input-group">
<input type="text" class="form-control  search" placeholder="search">

<div class="input-group-append">
<button class="btn btn-outline-secondary dropdown-toggle search-btn" type="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Jobs</button>
<ul class="dropdown-menu">

<li class="search-list"><a class="dropdown-item" href="#">Jobs <p class="bebo">   Applly to jobs posted by clients </p> </a></li>
<li class="search-list"><a class="dropdown-item" href="#">Talent  <p class="bebo">    Find freelancers and agencies </p></a></li>
<li class="search-list"><a class="dropdown-item" href="#">Projects<p class="bebo"> See projects from other pros</p></a></li>
</ul>
</div>
</div>
</div>
<!-- left nav  -->

<div class="col-2  row"  style="background-color: rgb(255, 255, 255); "> 
<div class="dropdown   yousef col-3"   style="align-self: start;">
<button class="help rounded-circle  dropdown-item" type="button" data-bs-toggle="dropdown" aria-expanded="false">

</button>
<ul class="dropdown-menu">
<li><a class="dropdown-item" href="#">Help center </a></li>
<li><a class="dropdown-item" href="#">community and forums </a></li>
<li><a class="dropdown-item" href="#">supports requests</a></li>
</ul>
</div>

<div class="dropdown col-3  yousef"   style="align-self: start;">
<button class=" rounded-circle portfolio   dropdown-item " type="button" data-bs-toggle="dropdown" aria-expanded="false">
</button>
</div>

<div class="dropdown col-3 "   style="align-self: start;">
<button class="notfication rounded-circle   dropdown-item " type="button" data-bs-toggle="dropdown" aria-expanded="false">
</button>
</div>


<div class="dropdown col-3  "   style="align-self: start;">
<button class=" btn rounded-circle profileImg  dropdown-item " type="button" data-bs-toggle="dropdown" aria-expanded="false">
</button>
<ul class="dropdown-menu">
<li><a class="dropdown-item" href="#">Financi over view </a></li>
<li><a class="dropdown-item" href="#">Your reports</a></li>
<li><a class="dropdown-item" href="#">Billings and earnings</a></li>
<li><a class="dropdown-item" href="#">Billings and earnings</a></li>

<li><a class="dropdown-item" href="#">Transaction and invoices</a></li>

<li><a class="dropdown-item" href="#">Certificate of earnings</a></li>
<li><a class="dropdown-item" href="#"><hr class="line-hr"></a></li>

<li><a class="dropdown-item" href="#">PAYMENTS</a></li>
<li><a class="dropdown-item" href="#">Withdraw earnings</a></li>
<li><a class="dropdown-item" href="#"><hr class="line-hr"></a></li>
<li><a class="dropdown-item" href="#">Taxes</a></li>
<li><a class="dropdown-item" href="#">Tax forms</a></li>
<li><a class="dropdown-item" href="#">Tax information</a></li>

</ul>
</div> 
</div>
</div>
</header>