@if (allService == []) {
    <div></div>
}

<div class="information">
    <!-- <button class="rounded-circle  edit"></button>
    <img class="dislike-img" src="images/dislike.png" alt="" width="25px" height="25px">
    <img class="heart-img" src="images/heart.png" alt=""   width="25px" height="25px"> -->
      

    <div class="small1">Posted 33 minutes ago</div>

    <div class="type1" > <a  class="type2"  href="" >Basic Arabic Proofreader Needed </a></div>
    <div class="small2">Fixed-price - Entry level - Est. Budget: $30</div>

    <p class="paragraph-1">We are seeking a detail-oriented proofreader with a strong command of the Arabic language to review and edit various documents for accuracy and clarity. The ideal candidate should have a keen eye for grammatical errors, punctuation, and formatting inconsistencies. Experience in proofreading different types of content is a plus. If you are passionate about language and can deliver high-quality work within deadlines, we would love to hear from you!</p>

    <button class="btn-1"> Proofreading</button>
    <button class="btn-1">Arabic</button>
    <button class="btn-1">English</button>
    <button class="btn-1">Translation</button>
<nav >
<a class="last" href="">  <img class="verify-img img-15" src= "../images/verify.png" alt=""> <span class="text-55">Payment verified</span></a>
    <a class="last  img-parent12" href=""><img   class="star-img img-16" src="../images/rating.png" alt=""> <span class="text-56">$2K+ spent</span></a>
    <a class="last" href="">  <img class="location-img img-15"  src="../images/location.png" alt=""><span class="text-55">United States</span></a>
</nav>
    <p class="small3">Proposals: Less than 5</p>
</div>