
@if(userRole == "Client"){
@for (item of allService; track item){
<div class="information" (click)="serviceDetails(item.serviceId)">
  <div id="ahmed" class="row" (click)="openProfile(item.userId)"> 
    <div class="user-img rounded-circle col-1"></div>
    <span class="user-name col-11 " >{{serviceUser.username}}</span> 
  </div>
    <!-- grid -->
    <div class="row">
    <div class="small1 col-10" name="postedDate">{{clacDate(item.createdDate)}} days ago</div>
    
    <div class="col-2 row gap-2">
    <button class="rounded-circle  edit col-6" (click)="editService(item.serviceId)"></button>
    <button class="rounded-circle col-6 delete" data-bs-toggle="modal" data-bs-target="#exampleModal"></button>

    <!-- Delete Service -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <app-delete-services></app-delete-services>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary" (click)="serviceDeleted()">delete</button>
            </div>
          </div>
        </div>
      </div>
     <!-- End Delete Service -->
    <!-- <button class="rounded-circle  delete col-6" (click)="deleteService(item.serviceId)"></button> -->
    </div>
    </div>
    <!--  -->
    <div class="type1" > <a  class="type2"  href="" name="title" >{{item.title}}</a></div>
    <div class="small2">Fixed-price - Entry level - Est. Budget: <span name="price"  >{{item.price}}</span></div>

    <p class="paragraph-1" name="description">{{item.description}}</p>

    <button class="btn-1" name="category">{{item.category}}</button>
    <p class="small3">Proposals: Less than 5</p>
</div>
}}@else{
    @for (item of allService; track item){
        <div class="information" (click)="serviceDetails(item.serviceId)">
          <div id="ahmed" (click)="openProfile(item.userId)">
            <img class="user-img rounded-circle" src="assets/images/user.png"  alt="">
            <span class="user-name " >{{serviceUser.username}}</span> 
          </div>
            <!-- grid -->
            <div class="small1 col-10" name="postedDate">{{clacDate(item.createdDate)}} days ago</div>
            
            <!--  -->
            <div class="type1" > <a  class="type2"  href="" name="title" >{{item.title}}</a></div>
            <div class="small2">Fixed-price - Entry level - Est. Budget: <span name="price"  >{{item.price}}</span></div>
        
            <p class="paragraph-1" name="description">{{item.description}}</p>
        
            <button class="btn-1" name="category">{{item.category}}</button>
            
            <p class="small3">Proposals: Less than 5</p>
        </div>
        }
    }
