<input class="searchInpt" type="text" [(ngModel)]="searchQuery" (input)="onSearch(searchQuery)" placeholder="Search services..." />
@if(userRole == "Client"){
@for (item of filteredServices ; track item){
<div class="information" (click)="serviceDetails(item.serviceId)">
  <div id="ahmed" class="row" (click)="openProfile(item.userId)"> 
    <div class="user-img rounded-circle col-1"></div>
    <span class="user-name col-11 " >{{item.user?.username}}</span> 
  </div>
    <!-- grid -->
    <div class="row">
    <div class="small1 col-10" name="postedDate">{{clacDate(item.createdDate)}} days ago</div>
    </div>
    <!--  -->
    <div class="type1" > <a  class="type2"  href="" name="title" >{{item.title}}</a></div>
    <div class="small2">Fixed-price : <span name="price"  >{{item.price}}</span></div>

    <p class="paragraph-1" name="description">{{item.description}}</p>

    <button class="btn-1" name="category">{{item.category}}</button>
    <p class="small3">Proposals: Less than 5</p>

</div>
}
<div class="pagination">
  <button class="paginationButton" (click)="previousPage()" [disabled]="currentPage === 1">Previous</button>
  <button class="paginationButton" (click)="nextPage()" [disabled]="currentPage * itemsPerPage >= allService.length">Next</button>
</div>
}@else{
    @for (item of filteredServices ; track item){
        <div class="information" (click)="serviceDetails(item.serviceId)">
          <div id="ahmed" (click)="openProfile(item.userId)">
            <img class="user-img rounded-circle" src="assets/images/user.png"  alt="">
            <span class="user-name " >{{item.user?.username}}</span> 
          </div>
            <!-- grid -->
            <div class="small1 col-10" name="postedDate">{{clacDate(item.createdDate)}} days ago</div>
            
            <!--  -->
            <div class="type1" > <a  class="type2"  href="" name="title" >{{item.title}}</a></div>
            <div class="small2">Fixed-price - Entry level - Est. Budget: <span name="price"  >{{item.price}}</span></div>
        
            <p class="paragraph-1" name="description">{{item.description}}</p>
        
            <button class="btn-1" name="category">{{item.category}}</button>
            
            <p class="small3">Proposals: Less than 5</p>
        </div>
        }
        <div class="pagination">
          <button class="paginationButton" (click)="previousPage()" [disabled]="currentPage === 1">Previous</button>
          <button class="paginationButton" (click)="nextPage()" [disabled]="currentPage * itemsPerPage >= allService.length">Next</button>
        </div>
    }
