<app-header></app-header>
@if (userRole == "Freelancer") {
<div class="container   father">
  <div class="  parent1">
    <div class="information">
      <div id="ahmed" class="row"> 
        <div class="user-img rounded-circle col-1"></div>
        <span class="user-name col-11 " >{{user.username}}</span> 
      </div>

      <div class="small1">{{clacDate(one.createdDate)}} days ago</div>

      <div class="type1" > <a  class="type2"  href="" >{{one.title}} </a></div>
      <div class="small2">Fixed-price Budget: $<span>{{one.price}}</span></div>

      <p class="paragraph-1">{{one.description}}</p>

      <button class="btn-1"> {{one.category}}</button>
    <p class="small3">Proposals: Less than 5</p>  
<!-- prposal -->
<div class="prposal-container row" >
  <h4 class="header col-10" >prposal</h4>
  @for (item of allPrposal; track item) {
    <div class="prposal-container">
      <!-- prposal user data -->
      <div id="ahmed" class="row"> 
        <div class="user-img rounded-circle col-1"></div>
        <span class="user-name col-11 " >{{item.user?.username}}</span> 
      </div>
      <!-- prposal details -->
       <div class="prposal-details row">
        <div class="prposal-data col-8">
          <p>{{item.status}}</p>
          <p>{{item.proposalDate}}</p>
        </div>
      </div>
    </div>
  }@empty {
      <div class="mb-3"> 
          <label for="formGroupExampleInput" class="form-label">This services has no prposal</label>
      </div>
  }
</div>
<!-- button     if this service has a contract this button will be deleted-->
 @if (contract.status == "") {
  <div class="buttons-parent">
    <button type="button" class="view" (click)="addProposel()" >apply</button>
    <button type="button" class="setting">review</button>
  </div> 
}
<div>contract : {{contract.status}}</div>
<!-- End of pprposal -->
    </div>
  </div>
</div>
}@else {
  <div class="container   father">
  <div class="  parent1">
    <div class="information">
        <div id="ahmed" class="row"> 
          <div class="user-img col-1"></div>
        <span class="user-name col-11" >{{user.username}}</span> 
      </div>

      <div class="small1">{{clacDate(one.createdDate)}} days ago</div>

      <div class="type1" > <a  class="type2"  href="" >{{one.title}} </a></div>
      <div class="small2">Fixed-price - Entry level - Est. Budget: $<span>{{one.price}}</span></div>

      <p class="paragraph-1">{{one.description}}</p>

      <button class="btn-1"> {{one.category}}</button>
    <p class="small3">Proposals: Less than 5</p>  
<!-- prposal -->
<div class="prposal-container row" >
  <h4 class="header col-10" >prposal</h4>
  @for (item of allPrposal; track item) {
    <div class="prposal-container">
      <!-- prposal user data -->
      <div id="ahmed" class="row"> 
        <div class="user-img rounded-circle col-1"></div>
        <span class="user-name col-11 " >{{item.user?.username}}</span> 
      </div>
      <!-- prposal details -->
       <div class="prposal-details row">
        <div class="prposal-data col-8">
          <p>{{item.status}}</p>
          <p>{{item.proposalDate}}</p>
        </div>
        @if (one.userId == t.Id && contract.status == "") {
        <div class="prposal-control col-4">
          <button type="button" class="view" data-bs-toggle="modal" data-bs-target="#exampleModal">accept</button>
          <!-- Accept Modal -->
          <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <app-add-contract [sId]="serviceId" ></app-add-contract>
                </div>
              </div>
              <!-- End of Accept Modal -->
            </div>
          </div>
        <button type="button" class="setting" (click)="deletePrposal(item.proposalId!)" >reject</button>

        </div>
      }
      </div>
    </div>
  }@empty {
      <div class="mb-3"> 
          <label for="formGroupExampleInput" class="form-label">This services has no prposal</label>
      </div>
  }
</div>
<!-- End of pprposal -->
    </div>
  </div>
</div>
}
<app-footer></app-footer>